//@import 'mixin/flex';

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

$color-white: #FFFFFF;

$color-blue: #33bfcc;
$color-red: #ed2c67;

$fontFamily: futura-pt-condensed,sans-serif;
$fontSize: 1.3rem;
$lineHeight: 1.6rem;

$transitionTime: 1s;
$openingTextPadding: 180px;

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.page-template-template-feedback {
  @include flexbox();
  @include flex-direction(column);

  height: 100vh;
  color: $color-white;
  font: {
    family: $fontFamily;
  }



  p {
    color: $color-white;
    font: {
      family: $fontFamily;
    }
    font: {
      size: $fontSize;
    }
    line-height: $lineHeight;
  }

  > header {
    background: $color-blue;
    padding: 20px 40px;
  }

  > main {
    @include flexbox();
    @include flex-direction(column);
    @include flex(1);
  }

  input,
  textarea {
    border: 1px solid $color-white;
    color: $color-white;
    margin: {
      bottom: 0;
    }
    padding: 10px 20px;
    font: {
      size: $fontSize;
    }
    line-height: $lineHeight;

    &::placeholder {
      color: $color-white;
      font: {
        family: $fontFamily;
        size: $fontSize;
      }
      line-height: $lineHeight;
    }
  }

  form {
    @include flexbox();
    @include align-items(flex-end);
    @include flex-wrap(wrap);

    > div {
      &:nth-of-type(3) {
        @include flex(1);
      }
    }
  }

  .wpcf7 {
    width: 100%;

    .field {
      padding: 0 5px 5px;
    }

    .form-response {
      width: 100%;
    }

    .ajax-loader {
      display: none;
    }

    .wpcf7-submit {
      height: auto;
      width: auto;
      font: {
        family: $fontFamily;
        size: $fontSize;
      }
      text: {
        transform: none;
        shadow: none;
      }
      padding: 10px 45px;
      bordeR: {
        radius: 0;
      }
    }
  }

  .branding {
    background: {
      image: url('../img/internal/peppermint-logo.png');
      repeat: no-repeat;
      size: cover;
    }
    width: 242px;
    height: 55px;
  }

  .hero {
    overflow: hidden;
    background: {
      repeat: no-repeat;
      position: center;
      size: cover;
    }

    @media (min-width: 576px) {
      height: calc(70vh - 90px);
    }
  }

  .content {
    @include flexbox();
    @include flex(1);

    > div {
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      @include flex(1);

      transition: all $transitionTime ease;
      overflow: hidden;
    }

    &.selected {
      .type-container {
        &:not(.feedback) {
          &:not(.submit-success) {
            flex: 0;
          }
        }
      }
    }

    @media (min-width: 576px) {
      min-height: 30vh;
    }
  }

  .type-container {
    .image-wrapper {
      width: $openingTextPadding;
    }

    .opening-text {
      padding: 0 $openingTextPadding 0 $openingTextPadding;
      margin: {
        bottom: 20px;
      }
      font: {
        size: $fontSize;
      }
      line-height: $lineHeight;
      text: {
        align: center;
      }
    }

    &.feedback {
      .feedback-container {
        visibility: visible;
        max-width: 980px;
        opacity: 1;
        transform: scale(1);
      }
    }

    &.submit-success {
      .submit-success-container {
        visibility: visible;
        max-width: 980px;
        opacity: 1;
        transform: scale(1);
      }
    }

    &.feedback,
    &.submit-success {
      .selection-container {
        opacity: 0;
        max-width: 0;
      }
    }
  }

  .suggestion-container {
    background: {
      color: $color-blue;
    }

    input,
    textarea {
      background: {
        color: $color-blue;
      }
    }

    input {
      &[type="submit"] {
        background: $color-red;
      }
    }

    &.feedback {
      .selection-container {
        transform: translateX(-400px);
      }
    }
  }

  .thanks-container {
    background: {
      color: $color-red;
    }

    input,
    textarea {
      background: {
        color: $color-red;
      }
    }

    input {
      &[type="submit"] {
        background: $color-blue;
      }
    }

    &.feedback {
      .selection-container {
        transform: translateX(400px);
      }
    }
  }

  .selection-container {
    transition: transform $transitionTime ease, opacity $transitionTime ease, max-width 0s ease $transitionTime;

    .btn {
      text: {
        transform: uppercase;
      }
      font: {
        size: 2rem;
      }

      .icon {
        margin: {
          right: 30px;
        }
      }
    }
  }

  .feedback-container {
    transition: transform $transitionTime ease $transitionTime, opacity 1s ease $transitionTime;

    .image-wrapper {
      @include align-self(center);
    }
  }

  .submit-success-container {
    @include flexbox();
    @include align-items(center);

    transition: transform $transitionTime ease $transitionTime, opacity 1s ease $transitionTime;

    .text {
      padding: 0 30px;
    }
  }

  .feedback-container,
  .submit-success-container {
    visibility: hidden;
    width: 100%;
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.5);
    text: {
      align: center;
    }
  }

  .btn {
    @include flexbox();
    @include align-items(center);

    background: {
      color: transparent;
    }
    outline: none;
    padding: 15px 30px;
    color: $color-white;
    cursor: pointer;
    font: {
      family: $fontFamily;
    }

    &-border {
      border: 1px solid $color-white;
    }

    &:hover {
      transition: transform 0.2s ease;
      transform: translateY(-2px);
    }
  }

  .icon {
    display: inline-block;
    background: {
      repeat: no-repeat;
      position: center;
    }

    &-point {
      width: 100px;
      height: 54px;
      background: {
        image: url('../img/internal/icon-point.png');
      }
    }

    &-star {
      width: 38px;
      height: 36px;
      background: {
        image: url('../img/internal/icon-star.png');
      }
    }

    &-thumb-up {
      width: 99px;
      height: 80px;
      background: {
        image: url('../img/internal/icon-thumb-up.png');
      }
    }
  }


}
